.page-content {
    display: flex;
    flex-direction: row;
    padding-top: 5%;
}


.page-content img {
    flex-basis: 0;
    flex: 1 1 0px;
    width: 50%;
    object-fit: contain;
    border-radius: 10px;
    margin: 0% 1%;
}

.page-content .about-me {
    flex-basis: 0;
    flex: 1 1 0px;
    width: 50%;
    margin: 2% 1%;
    text-align: left;
    letter-spacing: 0.5pt;
    font-size: 15pt;
}

.uni-tag {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 110%;
}