.page-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5% 0%;
}

.right-side-content,
.left-side-content {
    flex-basis: 0;
    flex: 1 1 0px;
    overflow: hidden;
}

.left-side-content {
    border-right: 3px solid var(--gainsboro-color);
}

.social-media-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20% 0%;
}

.a {
    flex-basis: 0;
    flex: 1 1 0px;
}

.social-media-links img {
    margin: auto 10px;
    object-fit: contain;
    height: 60px;
    width: 60px;
}

.contact-me {
    font-size: 22pt;
    color: var(--primary-color);
    text-align: center;
    font-weight: 600;
}

form {
    padding: 0% 3%;
}

textarea, 
input:not([type="submit"]) {
    border: 2px solid var(--gainsboro-color);
    display: block;
    width: 100%;
    height: 5%;
    font-size: 15pt;
    padding: 1%;
    margin-bottom: 3%;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    outline: none;
}

textarea {
    resize: none;
}

textarea:focus, 
input:focus {
    border: 2px solid var(--red-color);
}

input[type="submit"] {
    font-size: 14pt;
    border-radius: 15px;
    padding: 1% 3%;
    display: block;
    margin: auto;
    background-color: var(--gainsboro-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    outline: none;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    border: 1px solid var(--red-color);
}