
.page-content {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    position: relative;
    margin-top: 5%;
    margin-bottom: 4%;

}

.page-content img {
    flex-basis: 0;
    flex: 1 1 0px;
    max-width: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
    z-index: 3;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--dimgrey-color);
    overflow: hidden;
}

.page-content .intro {
    flex-basis: 0;
    flex: 1 1 0px;
    font-weight: 900;
    font-size: 35px;
    margin: auto;
    text-align: center;
    color: var(--primary-color);
}

.page-content .intro div {
    display:inline;
    font-size: inherit;
    color: var(--red-color)
}